.login__page{
    position: relative;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/935156fb-9579-4fc2-ad94-70680402b8ef/7a7f8fa9-8573-484e-bfd0-7cd9e7136c2e/MA-fr-20230109-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__page::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(17 17 16 / 76%);
    background: linear-gradient(0deg, rgb(17 17 16 / 78%) 0%, rgb(17 17 16 / 44%) 43%, rgb(17 17 18 / 0%) 100%);
    /* z-index: 100 */
}

.login__content__body{
    color: white;
    z-index: 1;
    width: 50vw;
    text-align: center;
}
.login__content__body .login__title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 0;
}
.login__content__body .login__sub__title{
    font-weight: 500;
    font-size: 1.5rem;
}
.login__content__body .login__form{
    display: flex;
    align-items: center;
}
.login__content__body .login__form .login__input{
    height: 50px; 
    width: 70%;
    border: 0;
    padding: 0 15px;
}
.login__content__body .login__form  .login__input:focus{
    border: 0;
    outline: 0;
}

.login__content__body .login__form  .login__input_button{
    width: 30%;
    height: 50px;
    border: 0;
    border-left: 1px solid #c4c4c4;
    background-color: #f40612;
    color: white;
    font-size: 1.2rem;
}

.login__icon__arrow{
    font-size: 1.4rem;
}