.row__title{
    color: white;
    margin: 0;
    margin-left: 1.4rem;
    padding: 0;
}
.swiper-wrapper{
    padding: 20px;
}
.row__posters::-webkit-scrollbar{
    display: none;
}

.poster__wrapper{
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}
.poster__wrapper:hover{
    transform: scale(1.08);
}
.poster__wrapper:hover .poster__favorites{
    /* transform: scale(1.08); */
    /* top: 0px; */
    display: flex;
    justify-content: flex-end;
    background-color: #111110;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    background: rgb(17,17,16);
    background: linear-gradient(0deg, rgb(17 17 16 / 0%) 0%, rgb(17 17 16 / 8%) 43%, rgb(17 17 16) 100%);
}
.poster__favorites{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: end;
    transition: .3s;
    padding: 5px 7px;
    transform: scale(.8);
    opacity: 0;
    visibility: hidden;
}

.poster__favorites .heart{
    color: #f44336;
    font-size: 22px;
    z-index: 100;
}
.row__poster {
    object-fit: contain;
    width:  100%;
    height: 120px;
}
.largRow {
    height: 250px;
}
@media only screen and (max-width:600px){
    .row__posters{
        padding-left: calc(1.4rem - 10px)
    }
    .row__poster{
        height: 100px;
    }
    .largRow{
        height: 200px;
    }
} 