.swiper{
    overflow-y: visible !important;
    overflow-x: hidden !important;
}
.row__title{
    color: white;
    margin: 0;
    margin-left: 2.3rem;
    padding: 0;
    font-size: 1.4rem;
}
.swiper-wrapper{
    padding: 10px 33px 35px
}
.row__posters::-webkit-scrollbar{
    display: none;
}

.poster__wrapper{
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
    user-select: none;
    /* overflow: hidden; */
}
.poster__wrapper:hover{
    transform: scale(1.08);
    outline: 5px solid white;
    z-index: 10;
}
.caret__down{
    display: none;
}
.active{
    transform: scale(1.08);
    outline: 5px solid white;
    z-index: 10;
    position: relative;
}
.active .caret__down{
    display: inline;
    position: absolute;
    bottom: -18px;
    font-size: 20px;
    left: 50%;
    color: white;
    transform: translateX(-50%);
}

.hide{
    display: none;
}

.poster__favorites .heart{
    color: #f44336;
    font-size: 22px;
    z-index: 100;
    /* display: none; */
}
.row__poster {
    object-fit: cover;
    width:  100%;
    height: 90px;
}
.largRow {
    height: 250px;
}
.youtube__video{
    position:relative; 
    top:-35px;
}
@media only screen and (max-width:600px){
    .swiper-wrapper{
        padding: 10px 1rem 1.2rem
    }
    .row__title{
        margin-left: 1rem;
    }
    .row__posters{
        padding-left: calc(1.4rem - 10px)
    }
    .row__poster{
        height: 70px;
    }
    .largRow{
        height: 180px;
    }
    .youtube__video{
        top: -1.2rem;
    }
} 