/* start banner header================================== */
.nav{
    position: fixed;
    top: 0;
    width: calc(100vw - 5rem);
    width: 100%;
    padding: .7rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 100;    
    transition: 0.3s ease;
}
.show{
    background-color:rgb(17,17,16) ;
}
/* .hide{
    background-color:rgba(17, 17, 16, 0) ;
} */
.nav__logo{
    width: 100px;
    cursor: pointer;
}
.nav__links_container{
    display: flex;
    align-items: center;
}
.nav__signin__button{
    padding: 6px 15px;
    border: 0;
    background-color: #e50914;
    /* background-color: #f40612; */
    color: white;
}

.nav__signin__button a:hover{
    color: white;
}
.nav__login{
    width: 40px;
    cursor: pointer;
    margin-left: 15px;
}

/* mobile media query======================== */
@media only screen and (max-width: 600px) {
    .nav{
        padding: 0.7rem 1.4rem;
    }

    .nav__logo{
        width: 85px;
    }
    .nav__login{
        width: 35px;
    }
}